.title{
    text-align: center;
    color:#212EA0;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px0 30px;
}
.title h2{
    font-feature-settings: 32px;
    color: #000f38;
    margin-top: 5px;
    text-transform: none;
}